<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="DataProductsEntities" connectionString="metadata=res://*/ModelShoesApp.csdl|res://*/ModelShoesApp.ssdl|res://*/ModelShoesApp.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=microservicessttk.database.windows.net;initial catalog=DataProducts;persist security info=True;user id=adminSttk;password=@Softtek01;multipleactiveresultsets=True;application name=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="DataProductsEntities1" connectionString="metadata=res://*/ModelShoesApp.csdl|res://*/ModelShoesApp.ssdl|res://*/ModelShoesApp.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=microservicessttk.database.windows.net;initial catalog=DataProducts;persist security info=True;user id=adminSttk;password=@Softtek01;multipleactiveresultsets=True;application name=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="DataProductsEntities2" connectionString="metadata=res://*/ModelShoesApp.csdl|res://*/ModelShoesApp.ssdl|res://*/ModelShoesApp.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=microservicessttk.database.windows.net;initial catalog=DataProducts;persist security info=True;user id=adminSttk;password=@Softtek01;multipleactiveresultsets=True;application name=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="DataProductsEntities3" connectionString="metadata=res://*/ModelShoesApp.csdl|res://*/ModelShoesApp.ssdl|res://*/ModelShoesApp.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=microservicessttk.database.windows.net;initial catalog=DataProducts;persist security info=True;user id=adminSttk;password=@Softtek01;multipleactiveresultsets=True;application name=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="DataProductsEntities4" connectionString="metadata=res://*/ModelaShoesApp.csdl|res://*/ModelaShoesApp.ssdl|res://*/ModelaShoesApp.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=microservicessttk.database.windows.net;initial catalog=DataProducts;persist security info=True;user id=adminSttk;password=@Softtek01;multipleactiveresultsets=True;application name=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="DataProductsEntities5" connectionString="metadata=res://*/ModelShoesApp.csdl|res://*/ModelShoesApp.ssdl|res://*/ModelShoesApp.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=microservicessttk.database.windows.net;initial catalog=DataProducts;persist security info=True;user id=adminSttk;password=@Softtek01;multipleactiveresultsets=True;application name=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="DataProductsEntities6" connectionString="metadata=res://*/ModelShoesApp.csdl|res://*/ModelShoesApp.ssdl|res://*/ModelShoesApp.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=microservicessttk.database.windows.net;initial catalog=DataProducts;persist security info=True;user id=adminSttk;password=@Softtek01;multipleactiveresultsets=True;application name=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="DataProductsEntities7" connectionString="metadata=res://*/ModelShoesApp.csdl|res://*/ModelShoesApp.ssdl|res://*/ModelShoesApp.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=microservicessttk.database.windows.net;initial catalog=DataProducts;persist security info=True;user id=adminSttk;password=@Softtek01;multipleactiveresultsets=True;application name=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="DataProductsEntities8" connectionString="metadata=res://*/ModelShoesApp.csdl|res://*/ModelShoesApp.ssdl|res://*/ModelShoesApp.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=microservicessttk.database.windows.net;initial catalog=DataProducts;persist security info=True;user id=adminSttk;password=@Softtek01;multipleactiveresultsets=True;application name=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="ShoesApp.Properties.Settings.DataProductsConnectionString"
      connectionString="Data Source=microservicessttk.database.windows.net;Initial Catalog=DataProducts;Persist Security Info=True;User ID=adminSttk;Password=@Softtek01;MultipleActiveResultSets=True;Application Name=EntityFramework"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>